body, ul, li{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;

}


p{
    color: black;
}

a{
    color: white;
    text-decoration: none;
}

h1{
    text-align: center;
}

.cabeçalho{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
}



input{
    display: flex ;
    align-items: center;
    border-radius: 100px;
}

.menu{
    display: flex;
    padding: 20px;
}

.menu li{
    margin-left: 20px;
}

/* animação de seleção de itens*/
.responsive{
    max-width: 100%;
    height: auto;
    transition: 0.3s ease;
    border-radius: 10px;
}

.responsive:hover{
    transform: scale(0.9);
}
/*aqui acaba a animção de itens*/


.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1400px ;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 100px;
}

.flex > div{
    flex: 1 1 1 200px;
    margin: 30px;
}

#animation{
    display: flex;
    margin: 0 auto;
    border-radius: 10px;
}

h2{
    color: black;
    text-align: center;
}

/* animação de seleção de itens*/

.responsive2{
    max-width: 100%;
    height: auto;
    transition: 0.3s ease;
    border-radius: 10px;
}

.responsive2:hover{
    transform: scale(0.9);
}

/*aqui acaba a animção de itens*/